@mixin dot-wall($w, $h, $color, $t:auto, $l:auto) {
    @include dot-wall-background($color);

    display: block;
    width: $w;
    height: $h;

    position: absolute;
    top: $t;
    left: $l;

    pointer-events: none


}

@mixin dot-wall-background($color) {
    background-image: radial-gradient(circle, $color 5%, transparent 7%);
    background-color: transparent;
    background-position: 0 0;
    background-size: 25px 25px;

}

.loader {
    border: 16px solid $color-grey-80;
    border-top: 16px solid $color-main;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: block;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}