
.btn {
    @include font-size(1.6);

    position: relative;
    display: inline-block;

    font-weight: 400;

    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
    width: max-content;

    color: $color-text;

    transition: all .3s $ease-out-quint;

    &:before{
        content: '\2192';
        position: absolute;
        background: transparent;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        height: 30px;
        width: 30px;
        @include font-size(1.5);
        padding-top: 6px;
        border-radius: 50px;
        text-align: center;
        background: transparent;
        border: 1px solid $color-main;
        color: $color-main;

        margin-left: 10px;

        transition: all .3s $ease-out-quint;
    }


    &.btn-white {
        color: #fff;
        &:before{
            background: #fff;
            border: none;
        }
    }

    &.btn-main {

    }

    &.btn-sec {
        color: $color-sec;
    }

    &.btn-bold{
        font-weight: 700;
    }


    //--- BTN ROUNDED
    &-rounded {
        line-height: 1.1;

        position: relative;
        z-index: 1;
        padding: 13px 20px 13px;

        text-align: center;

        color: #fff;
        border-radius: 50px;

        font-weight: 700;

        background: $color-main;
        overflow: hidden;


        &:before {
            display: none;
        }

        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            z-index: -1;
            background: $color-main-dark;
            transition: all .4s $ease-out-quint;
        }


        &.btn-white {
            color: $color-text;
        }

        &.btn-main {
            color: #fff;

        }

        &.btn-sec {

            color: #fff;
        }

    }

    &:hover{
        &:before{
            background: $color-main;
            color: #fff;
        }
    }

}

.btn-container {
    text-align: center;
}
