
@mixin custom-skew-top {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 3.125%;

  clip-path: polygon(100% 0, 0% 100%, 100% 100%);

  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
}

@mixin custom-skew-bottom {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 3.125%;

  clip-path: polygon(100% 0, 0% 100%, 0 0);

  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
}