body {
    margin: 0 20px;
    font-family: "Montserrat", sans-serif;
    background: white;
    position: relative;

    @include media-breakpoint(md) {
        margin: 0 100px;
    }

    &:after {
        content: "xs - 100% (0 \2933 575)";
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 999999;
        background: black;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        padding: 10px;
        @include media-breakpoint(sm) {
            content: "sm - 540px (576 \2933 767)";
        }
        @include media-breakpoint(md) {
            content: "md - 720px (768 \2933 1279)";
        }
        @include media-breakpoint(lg) {
            content: "lg - 1250px (1280 \2933 1379)";
        }
        @include media-breakpoint(xl) {
            content: "xl - 1350px (1280 \2933 \221E)";
        }
        @include media-breakpoint(xxl) {
            content: "xxl";
        }
    }
}

@mixin flex-center { display: flex; justify-content: center; align-items: center; }

#homepage{
    position: fixed;
    background-image: linear-gradient(135deg, #f97794 10%, #623aa2 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    left: 0;
    top: 0;

    @include flex-center;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            bottom: 0;
            left: 0;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            background: rgba(255, 255, 255, 0.06);
            backdrop-filter: blur(5px);
            z-index: -1;
        }

    .glassIco {
        --width: 300px;
        &, & * { box-sizing: border-box; transition: 200ms; }
        width: var(--width);
        height: var(--width);
        color: #fff;
        font-size: 30px;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(2px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-right-color: rgba(255, 255, 255, 0.1);
        border-bottom-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
        text-decoration: none;
        margin: 20px;
        overflow: hidden;
        @include flex-center;
        text-align: center;

        &:before {
            content: "";
            position: absolute;
            display: block;
            width: 50%;
            height: 100%;
            background: rgba(255, 255, 255, 0.5);
            filter: blur(0px);
            transition: 400ms;
            transform: skewX(45deg) translateX(calc(var(--width) + 50%));
        }
        &:hover {
            transform: translateY(-20px);
            &:before {
                transform: skewX(45deg) translateX(calc(var(--width) * -1 - 50%))
            }
        }
        & > * { opacity: 0.8; }
    }
}

//newemployee
@keyframes animateCube {
    0%,100% {
        transform: translateY(-40px);
    }
    50% {
        transform: translateY(40px);
    }
}

#newEmployee {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;

    .color {
        position: absolute;
        filter: blur(150px);
        &:nth-child(1) {
            top: -350px;
            width: 600px;
            height: 600px;
            background: #ff359b;
        }
        &:nth-child(2) {
            //left: 100px;
            width: 500px;
            height: 500px;
            background: #5A6F08;
            opacity: .6;
        }
        &:nth-child(3) {
            //left: 100px;
            width: 300px;
            height: 300px;
            background: #00d2ff;
        }
    }

    .box {
        position: relative;
        .square {
            position: absolute;
            backdrop-filter: blur(5px);
            box-shadow: 0 25px 45px rgba(0,0,0,.1);
            border: 1px solid rgba(255,255,255,.5);
            border-right: 1px solid rgba(255,255,255,.2);
            border-bottom: 1px solid rgba(255,255,255,.2);
            background: rgba(255,255,255,.1);
            animation: animateCube 10s linear infinite;

            &.one{
                animation-delay: calc(-1s * 0);
            }

            &.two{
                animation-delay: calc(-1s * 1);
            }

            &.three{
                animation-delay: calc(-1s * 2);
            }

            &.four{
                animation-delay: calc(-1s * 3);
            }

            &.five{
                animation-delay: calc(-1s * 4);
            }


            &:nth-child(1) {
                top: -50px;
                right: -60px;
                width: 100px;
                height: 100px;
            }
            &:nth-child(2) {
                top: 150px;
                left: -100px;
                width: 120px;
                height: 120px;
                z-index: 2;
            }
            &:nth-child(3) {
                bottom: 50px;
                right: -60px;
                width: 80px;
                height: 80px;
                z-index: 2;
            }
            &:nth-child(4) {
                bottom: -80px;
                left: 100px;
                width: 50px;
                height: 50px;
            }
            &:nth-child(5) {
                top: -80px;
                left: 140px;
                width: 60px;
                height: 60px;
            }
        }
    }
    .container {
        position: relative;
        width: 400px;
        min-height: 400px;
        background: rgba(255,255,255,.1);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(5px);
        box-shadow: 0 25px 45px rgba(0,0,0,.1);
        border: 1px solid rgba(255,255,255,.5);
        border-right: 1px solid rgba(255,255,255,.2);
        border-bottom: 1px solid rgba(255,255,255,.2);
    }
    .form {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 40px;
        h2 {
            position: relative;
            color: black;
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 1px;
            margin-bottom: 40px;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: -10px;
                width: 80px;
                height: 4px;
                background: black;
            }
        }
        .inputBox {
            width: 100%;
            margin-top: 20px;

            input, .css-b62m3t-container {
                width: 100%;
                background: rgba(255,255,255,.2);
                outline: none;
                padding: 10px 20px;
                border-radius: 35px;
                border: 1px solid rgba(255,255,255,.5);
                border-right: 1px solid rgba(255,255,255,.2);
                border-bottom: 1px solid rgba(255,255,255,.2);
                font-size: 16px;
                letter-spacing: 1px;
                color: black;
                box-shadow: 0 5px 15px rgba(0,0,0,.05);

                &::placeholder {
                    color: #fff;
                }

                &.css-b62m3t-container{
                    height: 40px;
                    padding: 0 10px;
                }

                .css-qc6sy-singleValue{
                    color: black;
                }

                .css-6j8wv5-Input, .css-1s2u09g-control {
                    background: transparent;
                    border: none;

                    .css-tlfecz-indicatorContainer, .css-6j8wv5-Input {
                        color: black;
                    }

                    .css-14el2xx-placeholder {
                        color: black;
                    }

                    input {
                        color: black;
                    }
                }

                .css-319lph-ValueContainer{
                    border: none;
                    box-shadow: none;
                }

                .css-1okebmr-indicatorSeparator{
                    background: initial;
                }

                .css-1pahdxg-control {
                    background: initial;
                    border: none;
                    box-shadow: none;
                }
            }

            input[type="submit"] {
                background: #fff;
                color: black;
                max-width: 100px;
                cursor: pointer;
                margin-bottom: 20px;
                font-weight: 600;
            }
        }
    }
    .forget {
        margin-top: 5px;
        color: black;
        font-weight: 600;
        text-decoration: none;
    }

    fieldset{
        padding: 20px;
        margin: 20px 0;
        border-color: #3EA7B6;

        legend{
            font-weight: 600;
            font-size: 20px;
        }
    }
}

#spanModal{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    border-radius: 50%;
    background: #bcbce3;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#listEmployee{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right bottom, #828282, #839fb5, #5fc5d0, #73e7b8, #d6fb84);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -100px;
    padding: 100px;


    #backhome{
        position: absolute;
        top: 50px;
        left: 50px;
        text-decoration: none;
    }

    table{
        thead{
            background-color: rgba(255, 255, 255, 0.31);
        }

        tbody tr{
            transition: all .8s ease-out;
            cursor: pointer;

            &:hover{
                transform: scale(1.05);
            }
        }

        tr{
            height: 50px;

            &:nth-child(odd){
                background-color: rgba(55, 131, 138, 0.17);
            }

            &:nth-child(even){
                background-color: rgba(95, 197, 208, 0.21);
            }

            td{
                text-align: center;
            }
        }
    }
}






