.dadywinie{ display:none !important; }

*::-webkit-input-placeholder,
*::-moz-placeholder,
*:-ms-input-placeholder,
*:-moz-placeholder{
    color:$color-text-80;
}

.form{
    padding-top:0;
    padding-bottom:0;

    .field{
        display:block;
        box-sizing:border-box;
        margin-bottom:15px;

        span{
            @include font-size(1.4);
            display: inline-block;
            color: #fff;

            a{
                color:#fff;
            }
            strong{
                font-weight: bold;
            }
        }

        &.field-required span:after{
            content:"*";
            color:$color-main;
            display:inline;
            margin-left:5px;
        }

        &.label-file{
            span{
                font-weight: 700;
                font-family: $font-sec;
                @include font-size(1.8);
                display: block;
                margin-bottom:5px;
            }
        }

        input[type=date],
        input[type=text],
        input[type=password],
        input[type=email],
        input[type=tel],
        input[type=file],
        textarea{
            display:block;
            width:100%;
            padding:10px;


            @include font-size(1.5);
            font-family: $font-main;
            line-height: 20px;
            outline:0;

            border: 1px solid $color-grey-80;
            border-radius: 25px;
            background:#FFF;

            transition:all, .3s;

            &:focus{
                border: 1px solid $color-sec;
                box-shadow: 0 5px 10px rgba(0,0,0,.1);
            }

        }

        textarea{
            border-bottom-right-radius:0;
            padding: 10px 15px;
            height: 75px;
        }

        select{
            padding: 10px 5px;
            width: 100%;
            border-radius: 25px;
            border: 1px solid $color-grey-80;

            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
            background-repeat: no-repeat;
            background-position: right 15px center;
        }


        &.field-slide-checkbox{
            position: relative;

            input[type=checkbox]{
                position: absolute;
                top: 5px;
                left: 20px;
                z-index: -1;
            }

            span {
                cursor: pointer;
                position: relative;
                font-weight: 400;
                padding: 5px 0 5px 50px;
                margin: 0;
                display: inline-block;


                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 40px;
                    height: 24px;
                    background: $color-grey;
                    border-radius: 20px;
                    transition: 0.3s;
                    display: block;
                    z-index: 1;
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    width: 16px;
                    height: 16px;
                    background: #fff;
                    border-radius: 20px;
                    transition: 0.3s;
                    z-index: 2;
                }

                &:active:after {
                    width: 16px;
                }
            }

            input{
                &:checked{
                    + span {
                        &:before{
                            background: $color-main;
                        }
                        &:after{
                            left: 36px;
                            transform: translateX(-100%);
                        }
                    }
                }
            }
        }
    }


}