html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    font-size:62.5%;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: $font-main;
    font-weight: 400;
    @include font-size(1.6);
    color:$color-text;
    transition: all .5s cubic-bezier(0.23, 1, 0.32, 1);
    background: #fff;
}
body.no-scroll {
    overflow: hidden;
}

a{
    text-decoration: none;
    color: $color-text;
}

p{
    line-height: 1.4;
}

