// Colors
//
$color-main: var(--infocobweb-color-main) !default;
$color-main-80: var(--infocobweb-color-main-80) !default;
$color-main-60: var(--infocobweb-color-main-60) !default;
$color-main-40: var(--infocobweb-color-main-40) !default;
$color-main-20: var(--infocobweb-color-main-20) !default;

$color-main-light: var(--infocobweb-color-main-light) !default;
$color-main-light-80: var(--infocobweb-color-main-light-80) !default;
$color-main-light-60: var(--infocobweb-color-main-light-60) !default;
$color-main-light-40: var(--infocobweb-color-main-light-40) !default;
$color-main-light-20: var(--infocobweb-color-main-light-20) !default;

$color-main-dark: var(--infocobweb-color-main-dark) !default;
$color-main-dark-80: var(--infocobweb-color-main-dark-80) !default;
$color-main-dark-60: var(--infocobweb-color-main-dark-60) !default;
$color-main-dark-40: var(--infocobweb-color-main-dark-40) !default;
$color-main-dark-20: var(--infocobweb-color-main-dark-20) !default;

$color-sec: var(--infocobweb-color-secondary) !default;
$color-sec-80: var(--infocobweb-color-secondary-80) !default;
$color-sec-60: var(--infocobweb-color-secondary-60) !default;
$color-sec-40: var(--infocobweb-color-secondary-40) !default;
$color-sec-20: var(--infocobweb-color-secondary-20) !default;

$color-grey: var(--infocobweb-color-grey) !default;
$color-grey-80: var(--infocobweb-color-grey-80) !default;
$color-grey-60: var(--infocobweb-color-grey-60) !default;
$color-grey-40: var(--infocobweb-color-grey-40) !default;
$color-grey-20: var(--infocobweb-color-grey-20) !default;

$color-text: var(--infocobweb-color-text) !default;
$color-text-80: var(--infocobweb-color-text-80) !default;
$color-text-60: var(--infocobweb-color-text-60) !default;
$color-text-40: var(--infocobweb-color-text-40) !default;
$color-text-20: var(--infocobweb-color-text-20) !default;

$color-fb: #4460ae;
$color-tw: #3fbff0;
$color-in: #0077b5;
$color-gp: #d93828;
$color-vd: #ee7355;
$color-pn: #c92228;
$color-is: #c92228;

$color-success: #56a639 !default;
$color-error: #c12026 !default;

$font-main: var(--infocobweb-font-main) !default;
$font-sec: var(--infocobweb-font-sec) !default;

//------ Easing
$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
